.body {
display: flex;
flex-direction:column;
}

.header{
    background-color:#1F2937;
    color:#F9FAF8;
   
}

.header-links, .links{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.header-links{
    margin-left: 20em;
    margin-right: 20em;
 
}

.bold{
font-size: 48px;
    font-weight: bolder;
}

.wrapper{
display:flex
}









.black{
    width: 200px;
}