.body {
display: flex;
flex-direction:column;
}

.header{
    background-color:#1F2937;
}

.header-links, .links{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-left: 20em;
    margin-right: 20em;
}








.black{
    width: 200px;
}