.body {
display: flex;
flex-direction:column;
}

.header{
    background-color:#1F2937;
    color:#F9FAF8;
}

.title{
font-size: 48px;
    font-weight: bolder;
}
.header-links, .links{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-left: 20em;
    margin-right: 20em;
}








.black{
    width: 200px;
}